* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.content {
    /* max-width: 1250px; */
    /* margin: auto; */
    /* padding: 0px 30px; */
    /* height: 50px; */
    /* height: 80px; */
    position: fixed;
    z-index: 5;
    width: 100%;
    /* padding: 25px 25px; */
    /* background: #1b1b1b; */
    transition: all 0.6s ease;

}

/* .navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    transition: all 0.3s ease;
} */

.content.sticky {
    padding: 10px 0;
    background: #2E2E35;
    height: 50px;
}

/* .navbarSticky {} */

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 2rem;
}

.logo span {
    color: #EEEEEE;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu-list {
    padding: 2rem;
}


.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}


.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: cyan;
}

/* .banner {
    height: 100vh;
    width: 100%;
    background: url("./office.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */



/* .banner video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

/* .contentGral {
    padding: 40px 0;
} */

.contentGral .title {
    font-size: 35px;
    font-weight: 700;
    color: #2E2E35;
}

.contentGral p {
    padding-top: 20px;
    text-align: justify;
    color: #555555;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    padding: 2rem;
}

.icon.cancel-btn {
    position: absolute;
    right: 10px;
    top: 20px;
}



/* ----------------Typed--------------------- */



.banner h2 {
    color: white;
    font-weight: 700;
    /* position: relative;
    top: 20%;
    left: 25%; */
    font-size: 140px;
    letter-spacing: 15px;
}



.automaticTyped .mascota {
    color: cyan;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    width: 100%;
}

.automaticTyped {
    color: #fff;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

    /* text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
}

.tipado span {
    font-size: 2.3rem;
}



/* -----------------VIDEOS----------------------- */

video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    transition: all 1.2s linear;
    z-index: -10;
}

.video1 {
    opacity: 1;
}

.video2 {
    opacity: 0;
}

.video3 {
    opacity: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    letter-spacing: 6px;
    width: 100%;
}

/* ------------------SCROLL BAR---------------------------- */


/* width */
::-webkit-scrollbar {
    width: 10px;


}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background: rgba(255, 255, 255, 0.05);

    /* border-radius: 5px; */

}

::-webkit-scrollbar-track-piece {
    /* box-shadow: inset 0 0 5px grey; */
    background: rgba(255, 255, 255, 0.05);

    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1BC4C4;
    /* border-radius: 0px 0px 15px 15px; */

}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 206, 206);
}


/* ::-webkit-scrollbar {} */

/*
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, cyan, #00c2ae);
    border-radius: 0px 0px 10px 10px;
    animation: animate 5s linear infinite;
}


@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg)
    }

    50% {
        filter: hue-rotate(360deg)
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
} */

/* -------------------MAIN----------------------------- */

/* -------------------About------------------------------- */

.contentAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background: #EEEEEE;
}

.parrafo {
    max-width: 700px;
}

.contentAbout button {
    margin-top: 3rem;
}

.btna {
    padding: 1rem;
    background: #2E2E35;
    color: #fff;
    border: none;
    transition: all 0.4s ease;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 500;

}

.btna:hover {
    background: cyan;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* ------------------About__two----------------- */

.contentAbout__two {
    display: flex;
    padding: 2rem 1rem 2rem 1rem;
    /* gap: 5rem; */
    justify-content: center;
    /* max-width: 1000px; */
    margin: 0 auto;
    background: #2E2E35;
    width: 100%;
    /* flex-wrap: wrap; */
}

.contentAbout__two img {
    width: 50%;
}


.content-titleText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-left: 2rem;
    /* justify-content: space-evenly; */
}

.titleTextAbout {
    max-width: 400px;
    /* padding: 0rem 0rem 0rem 2rem; */
}

.titleTextAboutInfo {
    /* padding: 0rem 0rem 0rem 2rem; */
    max-width: 400px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */

}

.titleTextAboutInfo i {
    /* width: 5rem; */
    font-size: 2rem;
    color: #ffffff;
}

.title-text-in h3 {
    color: #ffffff;
}

.title-text-in p {
    color: #bbbbbb;
}


/* -------------------About three------------------- */

.contentAboutThree {
    background: #111111 url(./assets/images/teamHandsBlack.jpg) no-repeat;
    background-position: center;
    background-size: cover;


    /* padding: 5rem; */
    /* z-index: 14; */
}

.contentAboutThree__bakcground {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 5rem;
    max-width: 900px;
    margin: 0 auto;
}

.contentAboutThree__bakcground h2 {
    color: #fff;
    align-self: flex-start;
    padding: 2rem 0 1rem 0;
}

.contentAboutThree__bakcground p {
    color: #fff;
}

.contentAboutThree__bakcground button {
    margin: 2rem 0 2rem 0;
}

.btnac {
    padding: 1rem;
    background: #1BC4C4;
    color: rgb(0, 0, 0);
    border: solid 1px transparent;
    transition: all 0.4s ease;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 500;
    max-width: 200px;
}

.btnac:hover {
    background: transparent;
    border: solid 1px #1BC4C4;
    color: rgb(255, 255, 255);

}






/* -------------------Services--------------------------- */
.services {
    /* height: 100vh; */
    /* background: rgb(27, 196, 196); */
    /* height: 800px; */

}

.contentServices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100%;
    /* height: 100vh; */
}

.contentServices h2 {
    padding: 0rem 2rem 2rem 2rem;
    margin-bottom: 1rem;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    /* padding: 7rem; */

}

.card {
    width: 100%;
    /* height: 20rem; */
    background: #EEEEEE;
    padding: 2rem;
    border-radius: 0;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    color: #2E2E35;
}

.card:hover {
    background: #1BC4C4;
    border: 1px solid #EEEE;

    color: rgb(255, 255, 255);
}

.card i {
    font-size: 3rem;
    margin-bottom: 1rem;
    /* color: #1BC4C4; */
}

.card span {
    text-align: center;
    padding: 1.5rem;
}




/* ---------------Loader------------------- */



.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    background-color: #2E2E35;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.9s ease-in-out;
}

.loader2 {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}






/*WORKS PAGE*/

.portfolio {
    padding: 5rem;
    /* background: #EEEEEE; */


}

.portfolio h2 {
    text-align: center;
    padding: 3rem 0 6rem 0;
}

.contenido_general {
    /* width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.contenido_secundario {
    margin-bottom: 40px;
}

.cuadro_img1 {
    position: relative;
    height: 300px;
    /* width: 250px; */
    overflow: hidden;
    cursor: pointer;
    width: 100%;

}

.cuadro_img1 img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.cuadro_img1:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.cuadro_img1:hover>img {
    transform: scale(1.3);
}

.cuadro_img1:hover>.capa h3 {
    margin-top: 50px;
    margin-bottom: 15px;
}


.capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa a {
    text-decoration: none;
}

.capa h3 {
    color: #fff;
    font-weight: bolder;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.capa p {
    color: #fff;
    font-size: 14px;
    width: 100%;
    max-width: 220px;
    margin: auto;
}


/*End WORKS PAGE*/







/*CONTACT PAGE*/


.contact {
    padding: 5rem;
}


.contenido_total {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 900px;
}

.texto_principal {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Benne', serif;
}

.texto_principal h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.texto_principal p {
    font-size: 16px;
}


.fomulario_contacto {
    width: 100%;
}

form {
    width: 100%;
}

label {
    font-size: 15px;
    display: block;
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 250px;
}

input,
textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    font-family: 'Benne', serif;
    font-size: 15px;
}

input:focus {
    border: 1px solid #000000;
}

input[type="submit"] {
    margin-bottom: 0;
    background: #ffff;
    color: #000000;
    width: 100px;
    border: 1px solid #ccc;
}

input[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);

}

/*End CONTACT PAGE*/








/* -----------------FOOTER----------------------- */

.footer {
    background: #2E2E35;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer li a {
    color: #7F7F7F;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.4s;
    padding-right: 2rem;
}


.footer li a:hover {
    color: #1BC4C4;

}

.footer span {
    color: #7F7F7F;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
}

.footer .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.footer .logo span {
    color: #EEEEEE;
}


/* --------Media queries--------- */






@media (max-width: 920px) {

    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        /* max-width: 100%; */
        /* background-image: url(./menpro.jpg);
        background-position: center;
        background-size: cover; */
        background: #2E2E35;
        display: block;
        padding: 40px 0;
        /* text-align: center; */
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active {
        left: 0%;

    }

    .menu-list.active li {
        padding-left: 3rem;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
    }

    .contentAbout__two {
        flex-direction: column;
        align-items: center;
    }

    .content-titleText {
        margin: 1rem 0rem 0rem 0rem;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenido_general {
        grid-template-columns: repeat(2, 1fr);

    }

    .portfolio {
        padding: 3rem;
    }



}

@media(max-width: 720px) {

    .banner h2 {

        font-size: 100px;
    }



    .automaticTyped .mascota {
        font-size: 2rem;
    }

    .automaticTyped {
        font-size: 2rem;
    }

    .contentAbout__two img {
        width: 100%;
    }

    .contentAbout {
        padding: 2rem;
    }

    .contentAboutThree__bakcground {
        padding: 2.5rem;
    }
}


@media(max-width: 640px) {
    .cards {
        grid-template-columns: 1fr;

    }

    .contentAboutThree__bakcground {
        padding: 1.5rem;
    }



    .contenido_general {
        grid-template-columns: 1fr;

    }

    .portfolio {
        padding: 1.5rem;
    }

    .contenido_total {
        width: 100%;
    }

    .contact {
        padding: 2rem;
    }

}


@media(max-width: 520px) {

    .banner h2 {

        font-size: 55px;
    }



    .automaticTyped .mascota {
        font-size: 1.4rem;
    }

    .automaticTyped {
        font-size: 1.4rem;
    }

    .titleTextAboutInfo {
        flex-direction: column;
        align-items: center;
    }

    .contentAbout {
        padding: 1rem;
    }

    .title-text-in h3 {
        text-align: center;
    }

    .contentAboutThree__bakcground {
        padding: 1rem;
    }

    .contentServices {
        padding: 1rem;
    }

    .portfolio {
        padding: 1rem;
    }

    .contact {
        padding: 1rem;
    }

}


/*RESPONSIVE*/

/* @media screen and (max-width:965px) {

    .editable {
        text-align: center;
    }

    .menu_editable {
        text-align: center;
    }

    .imagen_editable {
        display: none;
    }

    .interno {
        width: 100%;
        text-align: center;
    }

    .menu_editable {
        width: 100%;
        text-align: center;
    }

    .nombre_apellido_certificado {
        max-width: 100%;
    }

    .menuPrincipal {
        max-width: 100%;
    }
}

@media screen and (max-width:800px) {

    .contenedor__1 {
        width: 100%;
    }

    .imagen_editable {
        object-fit: none;
    }

    .navmenu {
        display: none;
    }

    .contenedor {
        width: 100%;
    }

    .editable {
        text-align: center;
    }

    .menu_editable {
        text-align: center;
    }

    .menu__1 ul li {
        list-style: none;
    }

    .skill-count {
        display: none;
    }
}

@media screen and (max-width:700px) {

    .contenido_general {
        width: 100%;
        margin: auto;
        display: block;
    }

    .cuadro_img1 {
        width: 100%;
    }

    .primer_imagen {
        grid-column: 1 / -1;
    }

    .texto__2 {
        grid-column: 1 / -1;
        grid-row-start: 4;
    }

    .texto__1 {
        grid-column: 1 / -1;
    }

    .segunda_imagen {
        grid-column: 1 / -1;
        grid-row-start: 3;
    }
}

@media screen and (max-width:600px) {

    .contenido_total {
        width: 100%;
    }

    header h1 {
        font-size: 30px;
    }

    .texto_principal h2 {
        font-size: 20px;
    }

    .iconos_footer li {
        display: none;
    }

    .copyright {
        text-align: center;
        width: 100%;
    }

    .menu__responsive {
        padding: 40px 0px 0px 0px;
    }

    .main2 {
        min-width: 0;
        height: auto;
        width: 100%;
    }

    .imagenPrincipal {
        display: none;
    }

    .interno {
        width: 100%;
        text-align: center;
    }

    .menu_editable {
        width: 100%;
        text-align: center;
    }

    .nombre_apellido_certificado {
        max-width: 100%;
    }

    .menuPrincipal {
        max-width: 100%;
    }
}

@media screen and (max-width:425px) {

    .menuPrincipal__2 li a {
        font-size: 22px;
    }

    .editable h2 {
        font-size: 40px;
    }

    .nombre_apellido_certificado p i {
        font-size: 19px;
    }
}

@media screen and (max-width:400px) {

    .contenedor {
        width: 100%;
    }

    .main2 {
        min-width: 0;
        height: auto;
    }

    .interno {
        width: 100%;
        text-align: center;
    }

    .menu_editable {
        width: 100%;
        text-align: center;

    }

    .container-fluid a.navbar-brand {
        font-size: 30px;
    }

    .contenedor__1 {
        margin-top: 70px;

    }

    .menuPrincipal {
        padding-bottom: 5px;
        justify-content: flex-start;
        margin-left: 5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nombre_apellido_certificado {
        padding-bottom: 5px;
    }

    .contenedor__1 {
        background-image: url(https://i.imgur.com/Kc1iw5g.jpg);
    }
} */

/*End Responsive*/